alembic
python-dotenv
psycopg2
fastapi>=0.139.2
pydantic>=2.13.4
email-validator
passlib[bcrypt]
SQLAlchemy>=2.0.51,<3.0.0
uvicorn[standard]
python-jose[cryptography]
python-multipart
pyotp
aiokafka
bcrypt>=5.0.0
cffi>=2.0.0
wheel
groq
neo4j>=5,<6
grpcio
grpcio-tools
pandas>=3.0.3
faker>=40.23.0
openpyxl~=3.1.5
reportlab
minio>=7.2.0
