alembic
python-dotenv
psycopg2
fastapi>=0.136.1
pydantic>=2.13.3
email-validator
passlib[bcrypt]
SQLAlchemy>=2.0.49,<3.0.0
uvicorn[standard]
python-jose[cryptography]
python-multipart
pyotp
aiokafka
bcrypt>=4.0.1
cffi>=1.16.0
wheel
groq
neo4j>=5,<6
