SQLAlchemy~=2.0.49
alembic~=1.18.4
uliweb-alembic~=0.6.9
fastapi~=0.136.1
pydantic~=2.13.3
pyotp~=2.9.0
python-jose~=3.5.0
passlib~=1.7.4
aiokafka~=0.13.0
pandas~=3.0.2
neo4j~=5.28.4
groq~=1.2.0
starlette~=0.52.1
requests~=2.33.0
urllib3~=2.6.3
beautifulsoup4~=4.14.3
Faker~=40.13.0
openpyxl~=3.1.5
python-dotenv~=1.2.2